.navigation-list {
  flex-grow: 2;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-right: 4rem;
}

.navigation-list li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.3rem;
  align-self: center;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  margin-left: 1rem;
  border: 0.05rem solid black;
  cursor: pointer;
}

.navigation-list li:hover {
  color: black;
  cursor: pointer;
  background-color: white; }
