* {
  margin: 0;
  padding: 0; }

html, body, #root {
  height: 100vh;
  min-height: 50rem;
  font-family: sans-serif;
  min-width: 360px;
}


.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
}
