@media(max-width: 980px) {
  .navigation-list li .button {
    font-size: 1rem;
  }
}
@media(max-width: 900px) {
  .navigation-list ul {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .navigation-list li {
    width: 10rem !important;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  .navigation-list li .button {
    width: 10rem !important;
    min-width: 10rem;
  }
}

@media(max-width: 744px) {
  .navigation-list {
    margin-left: 0 !important;
  }
}
@media(max-width: 712px) {
  .navigation-list ul {
    margin-top: 4rem;
  }
}
@media(max-width: 520px) {
  .navigation-list ul {
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 0 !important;
    width: 100% !important;
  }
  .navigation-list {
    height: 5rem !important;
    width: 100% !important;
    margin-right: 0 !important;
  }
  .navigation-list li {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 5rem !important;
    min-width: 5rem !important;
    flex-grow: 1;
  }
  .navigation-list li .button {
    width: 5rem !important;
    min-width: 5rem !important;
    font-size: 0.7rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    flex-grow: 1;
  }
}

.navigation-list {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2rem;
  margin-left: 2rem;
  z-index: 1;
}

.navigation-list ul {
  display: flex;
  list-style: none;
}

.navigation-list li {
  display: flex;
  align-items: center;
  /* height: 3.3rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  margin-right: 1rem;
  border: 0.05rem solid black;
  cursor: pointer; */
}

.navigation-list .button{
  height: 3.3rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 0.3rem;
  margin-right: 1rem;
  border: 0.05rem solid black;
  font-size: 1.2rem;
  font-weight: 700;
}

.navigation-list .button:hover {
  color: black;
  background-color: white; }
